go 1.22

use (
	./packages/go-shared
	./services/auth
	./services/catalog-product
	./services/gateway
	./services/inventory
	./services/order
	./services/payment
	./services/product-catalog
	./services/shipment
)
